@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&Roboto+Mono:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700");

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: false;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$min-contrast-ratio: 2.3; // Super important pour l'accessibilité!

$headings-font-family: Outfit, Roboto, "Helvetica Neue", Arial, sans-serif;

$ciao-white: #ffffff;
$ciao-off-white: #fafafa;
$ciao-gray-light: #bababa;
$ciao-gray: #888888;
$ciao-gray-dark: #444444;
$ciao-black: #000000;

$ciao-blue: rgb(28, 88, 145);
$ciao-blue1: rgb(28, 88, 145);
$ciao-blue2: #4b79c3;

$pure-red: #ff0000;

$ciao-orange: rgb(255, 81, 0);
$ciao-orange-light: rgb(237, 133, 85);
$ciao-red: rgb(248, 48, 56);
$ciao-green: rgb(30, 128, 10);
$ciao-yellow: rgb(241, 173, 44);
$ciao-yellow1: rgba(241, 173, 44, 0.877);
$ciao-yellow2: rgb(228, 235, 137);
$ciao-purple: rgb(222, 46, 192);

$ciao-font-header: "Outfit";
$ciao-font-default: "Open Sans";
$ciao-font-code: "Roboto Mono";

/* --------------------------------- General -------------------------------- */
$body-bg: $ciao-white;
$body-color: $ciao-gray-dark;
$primary: $ciao-orange;
$secondary: $ciao-blue2;
$warning: $ciao-yellow;
// $light: #ffffff;

$ciao-impact-critical: $ciao-purple;
$ciao-impact-important: $ciao-red;
$ciao-impact-moderate: $ciao-orange;
$ciao-impact-minor: $ciao-yellow1;

$headings-color: $ciao-gray-dark;
$link-color: $secondary;

$border-radius: 3px;
$form-label-font-weight: 600;

$tag-color: $ciao-blue;
$outline: 3px $ciao-orange solid;

$offcanvas-bg-color: $ciao-orange;
$offcanvas-color: $ciao-white;

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */
$btn-light-color: $ciao-orange;

/* -------------------------------------------------------------------------- */
/*                                 LIST-GROUP                                 */
/* -------------------------------------------------------------------------- */
$list-group-color:                  $ciao-white;
$list-group-bg:                     none;
$list-group-border-color:           none;
// $list-group-border-width:           var(--#{$prefix}border-width);
$list-group-border-radius:          none;

// $list-group-item-padding-y:         $spacer * .5;
// $list-group-item-padding-x:         $spacer;

$list-group-active-color:           $ciao-orange;
$list-group-active-bg:              $ciao-white;
// $list-group-active-border-color:    purple;

// $list-group-disabled-color:         var(--#{$prefix}secondary-color);
// $list-group-disabled-bg:            $list-group-bg;

// $list-group-action-color:           $ciao-white;
$list-group-action-hover-color:     $ciao-white;

$list-group-action-active-color:    $ciao-white;
$list-group-action-active-bg:       $ciao-orange-light;

/* ---------------------------------- Icons --------------------------------- */
$ciao-link-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><g style="stroke:$link-color;stroke-width:1;opacity:0.75;"><path d="M 13.9 11.9 c -0.2 -0.6 -0.5 -1.2 -1 -1.7 c -1.6 -1.6 -4.1 -1.6 -5.7 0 l -5 5 c -1.6 1.6 -1.6 4.1 0 5.7 c 1.6 1.6 4.1 1.6 5.7 0 l 3.8 -3.8 l 0.3 0 c 0.4 0 0.8 0 1.2 -0.1 l -4.7 4.7 c -1 1 -2.3 1.5 -3.5 1.5 c -1.3 0 -2.6 -0.5 -3.5 -1.5 c -2 -2 -2 -5.1 0 -7.1 l 5 -5 c 1 -1 2.3 -1.5 3.5 -1.5 c 1.3 0 2.6 0.5 3.5 1.5 c 0.5 0.5 0.9 1.1 1.1 1.7 l -0.8 0.8 z m -5.7 0.1 c 0.2 0.6 0.5 1.3 1 1.8 c 1.6 1.6 4.1 1.6 5.7 0 l 5 -5 c 1.6 -1.6 1.6 -4.1 0 -5.7 c -1.6 -1.6 -4.1 -1.6 -5.7 0 l -3.8 3.8 l -0.3 0 c -0.4 0 -0.8 0 -1.2 0.1 l 4.7 -4.7 c 1 -1 2.3 -1.5 3.5 -1.5 c 1.3 0 2.6 0.5 3.5 1.5 c 2 2 2 5.1 0 7.1 l -5 5 c -1 1 -2.3 1.5 -3.5 1.5 c -1.3 0 -2.6 -0.5 -3.5 -1.5 c -0.5 -0.5 -0.9 -1.1 -1.1 -1.7 l 0.8 -0.8 z" style="fill: rgb(26, 93, 165); stroke: rgb(26, 93, 165);"></path></g></svg>');
$ciao-link-external-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><g style="stroke:$link-color;stroke-width:1;opacity:0.75;"><line x1="5" y1="5" x2="5" y2="14" /><line x1="14" y1="9" x2="14" y2="14" /><line x1="5" y1="14" x2="14" y2="14" /><line x1="5" y1="5" x2="9" y2="5" /><line x1="10" y1="2" x2="17" y2="2" /><line x1="17" y1="2" x2="17" y2="9" /><line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /></g></svg>');
$ciao-link-mail-icon: url('data:image/svg+xml,<svg style="stroke:$link-color;stroke-width:1;opacity:0.75;" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><path id="Mail" d="M58.0034485,8H5.9965506c-3.3136795,0-5.9999995,2.6862001-5.9999995,6v36c0,3.3137016,2.6863203,6,5.9999995,6 h52.006897c3.3137016,0,6-2.6862984,6-6V14C64.0034485,10.6862001,61.3171501,8,58.0034485,8z M62.0034485,49.1108017 L43.084549,30.1919994l18.9188995-12.0555992V49.1108017z M5.9965506,10h52.006897c2.2056007,0,4,1.7943001,4,4v1.7664003 L34.4677505,33.3134003c-1.4902,0.9492989-3.3935013,0.9199982-4.8495998-0.0703011L1.9965508,14.4694996V14 C1.9965508,11.7943001,3.7910507,10,5.9965506,10z M1.9965508,16.8852005L21.182251,29.9251003L1.9965508,49.1108017V16.8852005z  M58.0034485,54H5.9965506c-1.6473999,0-3.0638998-1.0021019-3.6760998-2.4278984l20.5199013-20.5200024l5.6547985,3.843401 c1.0859013,0.7383003,2.3418007,1.1083984,3.5995998,1.1083984c1.1953011,0,2.3925018-0.3339996,3.4463005-1.0048981 l5.8423996-3.7230015l20.2961006,20.2961025C61.0673485,52.9978981,59.6508713,54,58.0034485,54z"/></svg>');
$ciao-link-pdf-icon: url('data:image/svg+xml,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="550.801px" height="550.801px" viewBox="0 0 550.801 550.801" style="enable-background:new 0 0 550.801 550.801;" xml:space="preserve"><g><path d="M160.381,282.225c0-14.832-10.299-23.684-28.474-23.684c-7.414,0-12.437,0.715-15.071,1.432V307.6c3.114,0.707,6.942,0.949,12.192,0.949C148.419,308.549,160.381,298.74,160.381,282.225z"/><path d="M272.875,259.019c-8.145,0-13.397,0.717-16.519,1.435v105.523c3.116,0.729,8.142,0.729,12.69,0.729c33.017,0.231,54.554-17.946,54.554-56.474C323.842,276.719,304.215,259.019,272.875,259.019z"/><path d="M488.426,197.019H475.2v-63.816c0-0.398-0.063-0.799-0.116-1.202c-0.021-2.534-0.827-5.023-2.562-6.995L366.325,3.694c-0.032-0.031-0.063-0.042-0.085-0.076c-0.633-0.707-1.371-1.295-2.151-1.804c-0.231-0.155-0.464-0.285-0.706-0.419c-0.676-0.369-1.393-0.675-2.131-0.896c-0.2-0.056-0.38-0.138-0.58-0.19C359.87,0.119,359.037,0,358.193,0H97.2c-11.918,0-21.6,9.693-21.6,21.601v175.413H62.377c-17.049,0-30.873,13.818-30.873,30.873v160.545c0,17.043,13.824,30.87,30.873,30.87h13.224V529.2c0,11.907,9.682,21.601,21.6,21.601h356.4c11.907,0,21.6-9.693,21.6-21.601V419.302h13.226c17.044,0,30.871-13.827,30.871-30.87v-160.54C519.297,210.838,505.47,197.019,488.426,197.019z M97.2,21.605h250.193v110.513c0,5.967,4.841,10.8,10.8,10.8h95.407v54.108H97.2V21.605z M362.359,309.023c0,30.876-11.243,52.165-26.82,65.333c-16.971,14.117-42.82,20.814-74.396,20.814c-18.9,0-32.297-1.197-41.401-2.389V234.365c13.399-2.149,30.878-3.346,49.304-3.346c30.612,0,50.478,5.508,66.039,17.226C351.828,260.69,362.359,280.547,362.359,309.023z M80.7,393.499V234.365c11.241-1.904,27.042-3.346,49.296-3.346c22.491,0,38.527,4.308,49.291,12.928c10.292,8.131,17.215,21.534,17.215,37.328c0,15.799-5.25,29.198-14.829,38.285c-12.442,11.728-30.865,16.996-52.407,16.996c-4.778,0-9.1-0.243-12.435-0.723v57.67H80.7V393.499z M453.601,523.353H97.2V419.302h356.4V523.353z M484.898,262.127h-61.989v36.851h57.913v29.674h-57.913v64.848h-36.593V232.216h98.582V262.127z"/></g></svg>');
$ciao-logo: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 1920 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation:isolate;%7D.cls-2%7Bopacity:0.22;%7D.cls-2,.cls-4,.cls-5%7Bmix-blend-mode:multiply;%7D.cls-3,.cls-5,.cls-6%7Bfill:rgb(233, 228, 225);%7D.cls-6%7Bopacity:0.27;%7D.cls-7%7Bfill:rgb(99, 101, 105);%7D.cls-8%7Bfill:rgb(255, 81, 0);%7D%3C/style%3E%3C/defs%3E%3Ctitle%3ELogo de Ciao%3C/title%3E%3Cg class='cls-1'%3E%3Ca/%3E%3Cg transform='matrix(29.83 0 0 29.83 -265.26 -787.41)'%3E%3Cpath class='cls-7' d='m25.46 48.64-0.63-0.37-0.39 0.62a3.32 3.32 0 0 1-2.93 1.71 3.69 3.69 0 1 1 0-7.37 3.31 3.31 0 0 1 2.93 1.77l0.39 0.61 0.63-0.37 3.27-1.95-0.46-0.66a8.58 8.58 0 0 0-2.72-2.63 7.89 7.89 0 0 0-4-1 8.15 8.15 0 0 0-6.12 2.49 7.94 7.94 0 0 0 0 11 8.5 8.5 0 0 0 10.07 1.46 7.9 7.9 0 0 0 2.83-2.64l0.41-0.65-3.24-1.93'/%3E%3Cpath class='cls-7' d='m32.07 40.89a3.58 3.58 0 0 1-2-0.64h-0.18v14.27h4.41v-14.27h-0.19a3.58 3.58 0 0 1-2 0.64'/%3E%3Cpath class='cls-7' d='m47.88 39.31h-0.75v0.69a6.54 6.54 0 0 0-3.66-1.05 7.81 7.81 0 0 0-5.85 2.59 8.14 8.14 0 0 0-2.15 5.38 8.31 8.31 0 0 0 2.05 5.44 7.65 7.65 0 0 0 5.81 2.54 7.17 7.17 0 0 0 2.91-0.62 7 7 0 0 0 0.89-0.5v0.75h4.45v-15.22h-3.7m-4.19 11.29a3.69 3.69 0 1 1 3.55-3.69 3.65 3.65 0 0 1-3.55 3.69z'/%3E%3Cpath class='cls-7' d='m67 41.43a8.77 8.77 0 0 0-12.24 0 8 8 0 0 0 0 11 8.77 8.77 0 0 0 12.24-0.03 8 8 0 0 0 0-11m-6.09 9.2a3.69 3.69 0 1 1 3.69-3.69 3.61 3.61 0 0 1-3.69 3.69z'/%3E%3Cpath class='cls-8' d='m32.06 39.3a2.52 2.52 0 0 0 2.52-2.52 2.43 2.43 0 0 0-0.27-1.14l1.86-1.33a2 2 0 0 0 3.32-0.31l2.19 1.13a1.61 1.61 0 0 0 3.22 0l2.21-1.07 0.08 0.06a1.13 1.13 0 0 0 1.38 0l0.08-0.07a1.12 1.12 0 0 0 0-1.6l-0.08-0.07a1.11 1.11 0 0 0-1.43 0l-0.08 0.07a1.15 1.15 0 0 0-0.32 1l-2 1a1.62 1.62 0 0 0-2.86-0.07l-2.16-1.11a2 2 0 0 0 0-0.25 2 2 0 0 0-4 0 2 2 0 0 0 0.09 0.61l-1.94 1.37a2.52 2.52 0 1 0-1.81 4.28'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$ciao-chevron-right: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
$ciao-icon-critical-alt: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="-1 -1 18 18"><path fill="rgb(248, 48, 56)" d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>');
$ciao-icon-important-alt: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255, 81, 0, 0.65)" stroke="rgb(255, 81, 0)" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="7" /></svg>');
$ciao-icon-moderate-alt: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255, 81, 0, 0.65)" stroke="rgb(255, 81, 0)" class="bi bi-circle-half" viewBox="-1 -1 18 18"><path stroke="rgb(255, 81, 0)" d="M 9 15 A 7 7 0 1 0 8 1 v 14 z m 0 1 A 8 8 0 1 1 8 0 a 8 8 0 0 1 0 16 z" /></svg>');
$ciao-icon-minor-alt: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(241, 173, 44, 0.15)" stroke="rgb(241, 173, 44)" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="7"/></svg>');

$ciao-critical-icon: $ciao-icon-critical-alt;
$ciao-important-icon: $ciao-icon-important-alt;
$ciao-moderate-icon: $ciao-icon-moderate-alt;
$ciao-minor-icon: $ciao-icon-minor-alt;

/* -------------------------------- Logo Ciao ------------------------------- */
.logo-ciao {
  background-image: $ciao-logo;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 13mm;
  width: 100%;
  padding: 15%;
  padding-top: 75%;
  margin: 0 auto;
}

// .chevron-right:before {
//   content: $ciao-chevron-right;
// }

@import "bootstrap/scss/bootstrap.scss";

body {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

h1 {
  color: $ciao-orange;
  text-transform: uppercase;
}

h2 {
  font-size: 1.7em;
}

h2:after {
  content: "";
  display: block;
  margin-bottom: 1.2rem;
  width: 1.7em;
  padding: 0;
  border-bottom: 3px solid $ciao-orange-light;
}

h2.noafter:after {
  display: none !important;
}

hr {
  background-color: $ciao-white;
  color: $ciao-white;
  border-color: $ciao-white;
}

a[href^="http"]::after,
a[href^="https:\/\/"]::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $ciao-link-external-icon;
  margin-left: 0.08em;
}

a[href^="mailto"]::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $ciao-link-mail-icon;
  margin-left: 0.08em;
}

a[href*="(pdf|PDF|Pdf)\)?"]::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $ciao-link-pdf-icon;
  margin-left: 0.08em;
}

a.card:hover {
  outline: $outline;
}

i {
  margin-right: 0.2em;
}

dl {
  margin: 1em 0 0 0;
  padding: 0;
}

dt {
  color: $ciao-gray-dark;
}

dd {
  display: block;
  margin-left: 0.5em;
}

.dl-inline {
  display: flex;
}

.dl-inline dt,
.dl-inline dd {
  display: inline-block;
}

.dl-inline dd {
  flex-grow: 2;
}

kbd {
  color: var(--ciao-dark-gray);
  background-color: var(--ciao-off-white);
  border: 1px $ciao-gray-light solid;
  padding: 0.2em 0.5em;
  border-radius: 15%;
  margin: 0.1em 0.1em;
  vertical-align: bottom;
  font-size: small;
}

.offcanvas {
  .offcanvas-header * {
    color: $ciao-white;
  }

  .btn-light {
    background-color: $ciao-white;

    * {
      color: $ciao-orange;
    }

    &:hover,
    &:focus {
      background-color: $ciao-orange-light;

      * {
        color: $ciao-white;
      }
    }
  }

  .list-group *:not(.active, span) {
    background-color: $ciao-orange;
  }
}

.impact {
  &::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center; /* Centre le caractère Unicode */
    font-size: 1em; /* Taille du caractère */
  }

  &.impact-critical::before {
    background-image: $ciao-critical-icon;
  }

  &.impact-important::before {
    background-image: $ciao-important-icon;
  }

  &.impact-moderate::before {
    background-image: $ciao-moderate-icon;
  }

  &.impact-minor::before {
    background-image: $ciao-minor-icon;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* ----------------------------- Vue Multiselect ---------------------------- */
@import url(multiselect.css);
